/* All */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1vw;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.title__h3__style {
  font-weight: 600;
  font-size: 1rem;
  background: linear-gradient(
    120deg,
    rgba(28, 153, 254, 1) 0%,
    rgba(118, 68, 255, 1) 25%,
    rgba(253, 71, 102, 1) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 25%;
  margin: 0.5rem 0;
}

.title__h1__style {
  font-size: 3.1rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.title__p__style {
  font-size: 1.2rem;
  line-height: 2rem;
  color: rgba(29, 29, 36, 0.75);
  width: 50%;
  text-align: center;
  margin: 0 auto 1.5rem auto;
}
/* -
-
-
-
- */

/* Button */

.button__style__1 {
  background-color: rgba(253, 71, 102, 0);
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 1);
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1rem;
  transition: all 0.5s;
}

.button__style__2 {
  background-color: rgba(253, 71, 102, 1);
  border: 2px solid rgba(253, 71, 102, 1);
  color: rgba(255, 255, 255, 1);
  padding: 1.6rem 3rem;
  border-radius: 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
  width: fit-content;
  cursor: pointer;
  transition: all 0.5s;
}

/* Button Action */

.button__style__1:hover {
  background-color: rgba(253, 71, 102, 1);
  border: 2px solid rgba(253, 71, 102, 1);
}

.button__style__2:hover {
  background-color: rgba(253, 71, 102, 0);
  border: 2px solid rgba(253, 71, 102, 1);
  color: rgba(253, 71, 102, 1);
  font-weight: 400;
  letter-spacing: 0.11rem;
}

/* -
-
-
-
- */

/* Header */

header {
  position: absolute;
  width: 100%;
  z-index: 999;
}

.menu {
  padding: 1rem 3rem;
}

.menu .logo img {
  width: 60%;
}

.menu .menu__options {
  margin-left: auto;
}

.menu .menu__options .option {
  margin: 0 1rem;
  position: relative;
}

.menu .menu__options .option > a {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  transition: all 0.5s;
}

.menu .menu__options .option .sub__list {
  list-style: none;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 150%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.3rem;
  padding: 1rem;
  width: 14rem;
  transition: all 0.5s;
  z-index: 2;
}

.menu .menu__options .option .sub__list > li > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-size: 0.8rem;
  font-weight: 500;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: all 0.5s;
}

.menu .menu__options .option:hover .sub__list {
  opacity: 1;
  visibility: visible;
}

/* Header Action */

.menu .menu__options .option > a:hover {
  font-weight: 400;
  color: rgba(253, 71, 102, 1);
  letter-spacing: 0.01rem;
}

.menu .menu__options .option .sub__list > li > a:hover {
  background-color: rgba(253, 71, 102, 0.1);
  color: rgba(253, 71, 102, 1);
}

/* -
-
-
-
- */

/* Carousel */

#carousel {
  position: relative;
  width: 100%;
  height: 120vh;
}

.intro__indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.intro__list .intro__item img {
  height: 120vh;
}

.intro__indicators li {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: rgba(100, 100, 100, 1);
  transition: all 0.5s ease-in;
}

.intro__list .intro__item .intro__caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 50%;
  transform: translateY(50%);
}

.intro__list .intro__item .intro__caption h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.intro__list .intro__item .intro__caption h4 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 300;
}

.intro__control i {
  font-size: 2rem;
  line-height: 4rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
}

/* Carousel Action */

.intro__indicators li.active {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: rgba(100, 100, 100, 0);
  border: 2px solid rgba(253, 71, 102, 1);
}

.intro__control i:hover {
  background-color: rgba(253, 71, 102, 1);
  border: 1px solid rgba(253, 71, 102, 1);
  color: rgba(255, 255, 255, 1);
}

.intro__control__right > i:hover {
  transform: translateX(-1rem);
}

.intro__control__left > i:hover {
  transform: translateX(1rem);
}

/* -
-
-
-
- */

/* Service */
#service {
  margin: 5rem 0;
  padding: 2rem 3rem;
  text-align: center;
}

.service__items {
  justify-content: center;
  align-items: center;
}

.service__items .service__item {
  padding: 1rem;
}

.service__items .service__item .service__item__content {
  background-color: rgba(246, 246, 246, 1);
  display: block;
  border-radius: 1rem;
  padding: 3rem;
  text-align: left;
  cursor: pointer;
  transition: all 0.5s;
}

.service__item__content i {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.service__item:nth-child(2) i,
.service__item:nth-child(6) i {
  color: rgba(28, 153, 254, 1);
}

.service__item:nth-child(1) i {
  color: rgba(253, 71, 102, 1);
}

.service__item:nth-child(3) i {
  color: rgba(89, 201, 141, 1);
}

.service__item:nth-child(4) i {
  color: rgba(18, 216, 223, 1);
}

.service__item:nth-child(5) i {
  color: rgba(118, 68, 255, 1);
}

.service__item__content h2 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.service__item__content p {
  font-size: 1rem;
  color: rgba(29, 29, 36, 0.75);
  margin-bottom: 0.5rem;
}

/* Service Action */

.service__item__content:hover {
  transform: translateY(-1rem);
}

/* -
-
-
-
- */

/* Project */

#project {
  margin: 5rem 0;
  padding: 10rem 3rem;
  text-align: center;
  background-image: url(../Img/bg-image-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.project__items {
  padding: 3rem;
}

.project__item {
  padding: 1rem;
  cursor: pointer;
}

.project__item__content {
  position: relative;
  overflow: hidden;
  border-radius: 0.8rem;
  transition: all 2s;
}

.project__item__bg {
  height: auto;
  border-radius: 0.8rem;
	overflow: hidden;
	position: relative;
  width: auto; 
}

.project__item__bg img {
  width: 100%;
  height: 100%;
  filter: grayscale(0.3);
  transition: all 0.8s;
}

.project__item__show {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(253, 71, 102, 0) 0%,
    rgba(253, 71, 102, 0) 25%,
    rgba(253, 71, 102, 0) 50%,
    rgba(253, 71, 102, 0) 75%,
    rgba(253, 71, 102, 0) 100%
  );
  border-radius: 0.8rem;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.8s;
}

.project__item__show h4 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
}

.project__item__show h3 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-size: 2.2rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.project__item__hide {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  width: 70%;
  transition: all 0.8s;
}

.project__item__hide p {
  color: rgba(255, 255, 255, 1);
  font-size: 1.2rem;
  line-height: 2rem;
}

#project>.button__style__2{
  margin: 0 auto;
}

/* Project Action */

.project__item:hover img {
  -webkit-transform: scale(1.2); 
  transform: scale(1.2);
}

.project__item:hover .project__item__show {
  top:0%;
  background: linear-gradient(
    180deg,
    rgba(253, 71, 102, 0) 0%,
    rgba(253, 71, 102, 0.25) 25%,
    rgba(253, 71, 102, 0.5) 50%,
    rgba(253, 71, 102, 0.75) 75%,
    rgba(253, 71, 102, 1) 100%
  );
}

.project__item:hover .project__item__hide {
  bottom: 3%;
  visibility: visible;
  opacity: 1;
}
